@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body style="background-color:lightblue">
    <h1><strong><u><span style="background-color:#f39c12">S&amp;R Condominiums!!!</span></u></strong></h1>



    <h2><span style="background-color:#f39c12">Buying, renting or selling</span></h2>



    <p><span style="background-color:#f39c12">A condominium isn&rsquo;t a building type, but an ownership structure. Condominiums can take many different physical forms, such as:</span></p>



    <p>&nbsp;</p>



    <ul>
        <li>
            <h2><span style="background-color:#f39c12">a high-rise building</span></h2>
        </li>
        <li><span style="background-color:#f39c12">a low-rise building</span></li>
        <li><span style="background-color:#f39c12">blocks of townhouses</span></li>
        <li><span style="background-color:#f39c12">a group of detached houses</span></li>
        <li><span style="background-color:#f39c12">a combination of building types</span></li>
    </ul>



    <p><span style="background-color:#f39c12">When you buy a condominium, you:</span></p>



    <ul>
        <li><span style="background-color:#f39c12">own a unit, and</span></li>
        <li><span style="background-color:#f39c12">share ownership of&nbsp;</span><span style="background-color:#f39c12">common elements</span></a><span style="background-color:#f39c12">&nbsp;(e.g. parking garage, hallways, lobby) with other unit owners.</span></li>
    </ul>



    <p><span style="background-color:#f39c12">You have full title to your unit and you can buy and sell your unit. You cannot separate ownership of your unit from your share of the condominium&rsquo;s common elements.</span></p>



    <p>&nbsp;</p>



    <p><img alt="" src="https://www.google.com/search?q=condos&rlz=1C1GCEA_enCA867CA867&sxsrf=AOaemvKXi6Meq_5yS26EjZ7knBwQ-2mvkA:1639077424982&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiZsbKdt9f0AhWmneAKHSVBAdMQ_AUoAnoECAIQBA&biw=722&bih=714&dpr=1.25#imgrc=dZCCd3NrSXjM9M" /><img alt="" src="https://www.buzzbuzzhome.com/ca/enticy-condos#image-All-1" /><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/2019_01_28_10_30_20_capture1%20(1).jpg" style="height:733px; width:481px" /></p>



    <p>&nbsp;</p>



    <h3><u><strong><span style="background-color:#f39c12">Buying a condominium</span></strong></u></h3>



    <p><span style="background-color:#f39c12">In many ways, buying a condominium unit is like buying a house, with brand-new and resale options. But purchasing a condominium does differ in several key ways.</span></p>



    <p>&nbsp;</p>



    <p><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/61OvEXyq3lL__AC_SL1500_.jpg" style="height:200px; width:137px" /></p>



    <hr />
    <h3><u><strong><span style="background-color:#f39c12">Renting a condominium</span></strong></u></h3>



    <p><span style="background-color:#f39c12">Renting a condominium is largely the same as renting an apartment: you need to follow the community&rsquo;s rules and pay the rent on time. To make the most of renting, both landlords and tenants need to be aware of their rights and responsibilities.</span></p>



    <p><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/leasinginmilton.jpg" style="height:127px; width:200px" /></p>



    <p>&nbsp;</p>



    <hr />
    <h3><span style="background-color:#f39c12">Selling a condominium</span></h3>



    <p><span style="background-color:#f39c12">Selling a condominium is just like selling any other real estate. As an owner, you have full title to your unit and you can sell your unit if you wish. However, you cannot separately buy or sell your proportional share of the common elements.</span></p>



    <p>&nbsp;</p>



    <p><span style="background-color:#f39c12">Potential condominium buyers are entitled to review a condominium&nbsp;</span><strong><span style="background-color:#f39c12">status certificate</span></strong><span style="background-color:#f39c12">, which provides information such as the financial status of your unit and of the condominium corporation. You are not responsible for preparing the status certificate. The condominium corporation does this.</span></p>



    <p><strong><img alt="" src="https://ckeditor.com/apps/ckfinder/userfiles/files/Buying-and-selling-a-business-scaled.jpeg_optimal.jpeg" style="height:200px; width:300px" /></strong></p>



    <p><strong><span style="background-color:#f39c12">Make sure to book your visit!!</span></strong></p>



</body>